<!DOCTYPE html>
<html>

<%- include('./common/head'); %>

<body>
    <form class="form-inline definewidth m20" method="get">
        用户名称：
        <input type="text" name="username" id="username" class="abc input-default" placeholder="" value="">&nbsp;&nbsp;
        机构名称：
        <input type="text" name="gname" id="gname" class="abc input-default" placeholder="" value="">&nbsp;&nbsp;
        <button type="submit" class="btn btn-primary" id="UserQuery">查询</button>&nbsp;&nbsp; <button type="button"
            class="btn btn-success" id="addnew">新增用户</button>
    </form>
    <table class="table table-bordered table-hover definewidth m10">
        <thead>
            <tr>
                <th>序号</th>
                <th>用户名称</th>
                <th>机构名称</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <% data.forEach(function(item){%>
            <tr>
                <td><%- item.id %></td>
                <td><%- item.username %></td>
                <td><%- item.gname %></td>
                <td>
                    <a href="javascript:;" id="UserEdit" data-id="<%- item.id %>">编辑</a> &nbsp; &nbsp
                    <a href="javascript:;" id="UserDelete" data-id="<%- item.id %>">删除</a>
                </td>
            </tr>
            <% }) %>
        </tbody>
    </table>
    <script src="/js/UserIndex.js"></script>
    <script type="text/template" id="tbodyDataTemplate">
        {{each data}}
        <tr>
            <td>{{$value.id}}</td>
            <td>{{$value.username}}</td>
            <td>{{$value.gname}}</td>
            <td>
                <a href="javascript:;" id="UserEdit" data-id="{{$value.id}}">编辑</a> &nbsp; &nbsp
                <a href="javascript:;" id="UserDelete" data-id="{{$value.id}}">删除</a>
            </td>
        </tr>
        {{/each}}
    </script>

</body>




</html>