<!DOCTYPE html>
<html>

<%- include('./common/head'); %>

<body>
    <form class="form-inline definewidth m20">
        机构名称：
        <input type="text" name="gname" id="gname" class="abc input-default" placeholder="请输入要查找的机构"
            value="">&nbsp;&nbsp;
        机构状态：
        <input type="text" name="state" id="state" class="abc input-default" placeholder="请输入要查找的机构状态"
            value="">&nbsp;&nbsp;
        <button type="submit" class="btn btn-primary" id="btnQuery">查询</button>&nbsp;&nbsp; <button type="button"
            class="btn btn-success" id="addnew">新增机构</button>
    </form>
    <table class="table table-bordered table-hover definewidth m10">
        <thead>
            <tr>
                <th>机构编号</th>
                <th>机构名称</th>
                <th>状态</th>
                <th>管理操作</th>
            </tr>
        </thead>
        <tbody>
            <% data.forEach(function(item){%>
            <tr>
                <td><%=item.id %></td>
                <td><%=item.gname %></td>
                <td><%=item.state %></td>
                <td>
                    <a href="/admin/edit" class="btnEdit" data-id="<%=item.id %>">编辑</a> &nbsp; &nbsp
                    <a href="#" data-id="<%=item.id %>" class="btnDelete">删除</a>
                </td>
            </tr>
            <% }) %>
        </tbody>

    </table>
    <div class="inline pull-right page">
        10122 条记录 1/507 页 <a href='#'>下一页</a> <span class='current'>1</span><a href='#'>2</a><a
            href='/chinapost/index.php?m=Label&a=index&p=3'>3</a><a href='#'>4</a><a href='#'>5</a> <a href='#'>下5页</a>
        <a href='#'>最后一页</a> </div>
</body>
<script src="/js/NodeIndex.js"></script>

<script type="text/template" id="tbodyDataTemplate">
    {{each data}}
    
    <tr>
        <td>{{$value.id}}</td>
        <td>{{$value.gname}}</td>
        <td>{{$value.state}}</td>
        <td>
            <a href="/admin/edit" class="btnEdit" data-id="{{$value.id}}" >编辑</a> &nbsp; &nbsp
            <a href="#" data-id="{{$value.id}}" class="btnDelete">删除</a>
        </td>
    </tr>
    {{/each}}

    

</script>

</html>